* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

html, body, main {
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    
}

main {
    font-size: clamp(14px, 1.6rem, 2vw);  
    background: url(../assets/background.jpg) no-repeat center center;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;
}

section {
    width: 300px;
    height: 500px;
    background:rgba(0,0,0,0.60);
   
    backdrop-filter: blur(30px);
    animation: show .5s forwards;
   
    
}

@keyframes show {
    from {
        transform: translate(-90px, 30px);
        opacity: 0;

    }

    to {
        transform: translate(0, 0);
        opacity: 1;

    }

}

@keyframes hidden {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        transform: translate(-90px, 30px);
        opacity: 0;
        display: none;
    }
}

section.hidden {
    animation: hidden .5s forwards;

}

header {
    display: flex;
    align-items: center;
    
}

header .title {
    padding: .85rem 0 .85rem 1rem;
    font-size: 1.2rem;
    flex: 1;
}

header .actions {
    display: flex;
    align-items: center;
    
}

header .actions .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: transparent;
}

header .actions .box:hover {
    background-color: #606462;
}

header .actions .box:nth-child(3):hover {
    background-color: #E81123;
}

header .actions img {
    padding: 1rem 1.2rem
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container {
    display: flex;
    align-items: center;
}

nav .container .box-menu, nav .container p, nav .container .box-pop-out, nav .box-history {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav .container .box-menu, nav .container .box-pop-out, nav .box-history {
    width: 40px;
    height: 40px;
}

nav .container p {
    font-size: 2rem;
    margin: 0 1rem;
    cursor: default;
}

nav .box-history:hover, nav .box-menu:hover, nav .box-pop-out:hover {
    background-color: #606462;
}

/* Display */

.display {
    padding: 1.6rem 1.2rem 1.3rem 1rem;
 
}

.display p.operating {
    display: grid;
    justify-content: flex-end;
    font-size: 1.4rem;
    line-height: 0;
    color: #A5A5A5;
}

.display .container-input {
    display: grid; 
    justify-content: flex-end;
    margin-top: 1rem;
    height: 5.8rem;
    overflow: hidden;

}

.display p.input {
    font-size: 4.4rem;
    font-weight: 500;
    display: inline;
    

    
}

.display p.input.big {
    font-size: 2.8rem;

}

/* Memory */

.memory .box-memory {
    display: flex;
    cursor: default;
    
}

.memory .box-memory p {
    font-size: 1.2rem;
    padding: 1rem 1.63rem
}

.memory .box-memory p:nth-child(-n+2), .memory .box-memory p:nth-child(6){
    color: #858383;
}

.memory .box-memory p:nth-child(n+3):nth-child(-n+5):hover {
    background-color: #606462;
}

/* Operators */

.operators {
    padding: 0 .3rem 0 .3rem;

    
}

.operators .buttons {
    background:rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 4.62rem);
    gap: .2rem;
}

.operators .buttons button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    border: none;
    color: #fff;
    background:rgba(0, 0, 0, 0.24);
}

.operators .buttons button.number{
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #060606;
}


.operators .buttons button:nth-child(21), 
.operators .buttons button:nth-child(23) {
    background-color: #060606;
}

.operators .buttons button:nth-child(23) {
    font-size: 2rem;
}

.operators .buttons button:nth-child(24) {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 1rem;
} 

.operators .buttons button:nth-child(24) {
    background-color: #642355;
}
.operators .buttons button:nth-child(24):hover {
    background-color: #BA2797;
}

.operators .buttons button:hover {
    background-color: #606462;
}

.operators .buttons .backspace img {
    width: 17px;
}

/* Desktop */

main .shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    width: 80px;
    height: 60px;
    position: absolute;
    left: 23rem;
    bottom: 14.5rem;
    border-width: 1px;



}

@media (max-width: 480px) {
    main .shortcut {
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

    }

    @keyframes show {
        from {
            transform: translate(0, 50px);
            opacity: 0;
    
        }
    
        to {
            transform: translate(0, 0);
            opacity: 1;
    
        }
    
    }
    
    @keyframes hidden {
        from {
            opacity: 1;
            transform: translate(0, 0);
        }
        to {
            transform: translate(0, 50px);
            opacity: 0;
            display: none;
        }
    }


}

main .shortcut:hover {
    background-color: rgba(45, 70, 90, 0.3);
    border: 1px solid rgb(102, 167, 216);
}


main .shortcut p {
    cursor: default;
    margin-top: .3rem;
    color: #fff;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

main .shortcut .item {
    width: 40px;
    height: 38px;
    background-color: #0078D4;
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

main .shortcut .item img {
    width: 24px;
    height: 24px;
}